<!DOCTYPE html>
<html>
  <head>
    <title>Scribblee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel = "icon" href = "https://www.bigbinary.com/blog_images/icon-light-small.png" type = "image/x-icon">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
